<p>login works!</p>
<form (ngSubmit)="">
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="username" name="username"  required>
    <div class="error-message" *ngIf="username.invalid && (username.dirty||username.touched)">
        <p>Username is required</p>
    </div>
    <label for="password">Password</label>
    <input type="text" id="password" [(ngModel)]="password" name="password" required>
    <div class="error-message" *ngIf="password.invalid && (password.dirty||password.touched)">
        <p>Password is required</p>
    </div>
    
    <input type="submit" value="Login">

</form>