<p>login works!</p>
<form (ngSubmit)="login()">
    <label for="username">Username</label>
    <input type="text" id="username"  name="username"  ngModel required #username="ngModel">
    <div class="error-message" *ngIf="username.errors.required">
        <p>Username is required</p>
    </div>
    <label for="password">Password</label>
    <input type="text" id="password"  name="password" ngModel required #password="ngModel">
    <div *ngIf="password.errors.required">
        <p>Password is required</p>
    </div>
    
    <input type="submit" value="Login">

</form>