@using dotnetapp.Models
@model IEnumerable<dotnetapp.Models.Player>
<p background='res/bg.jpg'>
<style>
    th
    {
        color:white;
    }
    td
    {
      color:white;  
    }
</style>


<div style="width:100% ;background-color:red ;text-align:center; padding:10px;">
    <h4 style="color:white;">LIST OF PLAYERS</h3>
</div>
<div style="width:100%">

<table class="table" style="text-align: start;background-color:#333;">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>CATEGORY</th>
        <th>TEAMID</th>
        <th>BIDDING AMOUNT</th>
        <th>EDIT</th>
        <th>DELETE</th>
        <th>VIEW</th>
    </thead>
    <tbody >
        @foreach (var data in @Model)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.Name</td>
                <td>@data.Category</td>
                <td>@data.TeamId</td>
                <td>@data.BiddingAmount</td>
                <td>@Html.ActionLink("Edit","Edit",new{id=@data.Id})</td>
                <td><a href="#" onclick="confirmDelete(@data.Id);" >Delete</a></td>
                <td>@Html.ActionLink("View","Display",new{id=@data.Id})</td>
            </tr>    
        }
        
    </tbody>

</table>
</div>
<script>
    function confirmDelete(ide)
    {
        if(confirm("Are You Sure You Want To Delete This Record?"))
        {
            $.ajax({
                type:'POST',
                url:'@Url.Action("DeleteConfirmed","Player")',
                data:{id:ide}
            })
        }
    }
</script>
<div style="width:100% ;text-align:end;">
<div style="width:50% ;background-color:darkblue ;text-align:center; padding:10px;">
    <h5 style="color:white;">ADD PLAYER</h5>
</div>
<div style="width:50%; background-color:#333; text-align:center; padding:40px">

    <h7 style="color:white;">START ADDING PLAYERS TO "IPL TEAM"</h7>
    <br>
    <br>
`
     <input type="submit" value="GET STARTED" style="color:white;background-color:#000; padding:7px; font-size:15px">

</div>
</div>



</p>