<style>
    th
    {
        color:white;
    }
    td
    {
      color:white;  
    }
</style>


<div style="width:100% ;background-color:red ;text-align:center; padding:10px;">
    <h4 style="color:white;">LIST OF PLAYERS</h4>
</div>
<div style="width:100%">

<table class="table" style="text-align: start;background-color:#333;">
    <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>CATEGORY</th>
       
        <th>BIDDING AMOUNT</th>
        <th>EDIT</th>
        <th>DELETE</th>
        <th>VIEW</th>
    </thead>
    <tbody >
   
            <tr *ngFor="let data of players">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>{{data.category}}</td>
                <td>{{data.biddingPrice}}</td>
                <td><input type="button" value="Edit"></td>
                <td><input type="button" value="Delete"></td>
                <td><input type="button" value="View"></td>
            </tr>    
     
        
    </tbody>

</table>
</div>
<div style="width:100% ;text-align:end;">
<div style="width:50% ;background-color:darkblue ;text-align:center; padding:10px;">
    <h5 style="color:white;">ADD PLAYER</h5>
</div>
<div style="width:50%; background-color:#333; text-align:center; padding:40px">

    <h6 style="color:white;">START ADDING PLAYERS TO "IPL TEAM"</h6>
    <br>
    <br>
`
     <input type="submit" value="GET STARTED" style="color:white;background-color:#000; padding:7px; font-size:15px" (click)="Create()">

</div>
</div>
